# Environnements virtuels
venv/
env/
.env

# Données et Logs (à ne pas push sur GitHub si volumineux, bien que le brief puisse demander le CSV)
logs/
__pycache__/
*.pyc

# IDE et Mac
.vscode/
.idea/
.DS_Store

# Fichiers de données
*.csv

# Dossier de travail temporaire
essais/
